@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  min-width:350px;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonConnect>div>button{
     transition:all .5s;
      border-radius:.5rem;
      background-color:rgb(245, 112, 89);
      padding:.75rem 1rem;
      justify-self:center;
      color:#fff;
}

.buttonConnect>div>button:hover{
  background-color:#ff320e;
  border-color:rgb(245, 112, 89);
}

.buttonConnect>div>button span{
  color:#fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family:'Manrope', sans-serif;
}
.buttonConnect>div{
  height:auto;
  margin:0px;
}
.buttonConnect>div>div{
  z-index:900000000;
}