@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  min-width:350px;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Manrope', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonConnect>div>button{
     transition:all .5s;
      border-radius:.5rem;
      background-color:rgb(245, 112, 89);
      padding:.75rem 1rem;
      justify-self:center;
      color:#fff;
}

.buttonConnect>div>button:hover{
  background-color:#ff320e;
  border-color:rgb(245, 112, 89);
}

.buttonConnect>div>button span{
  color:#fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family:'Manrope', sans-serif;
}

.buttonConnect .sc-cOFTSb, .buttonConnect .dGxxRz, .buttonConnect .dGxxRz svg{
    fill:rgb(245, 112, 89);
    color:rgb(245, 112, 89);
}

.buttonConnect .hfDIDp{
    fill: rgb(112, 112, 112);
      color: rgb(112,112,112);
}

.buttonConnect .dGxxRz{
  border-color:rgb(245, 112, 89);
}

.buttonConnect .dGxxRz:hover{
  background-image:radial-gradient(106.45% 108.64% at 32.33% -4.84%, rgba(245, 112, 89, .8) 0.52%, rgb(245, 112, 89) 100%);
}

.buttonConnect .dGxxRz:hover svg{
  fill:#fff;
}

.buttonConnect .jfYPFp:hover{
  background-color:rgba(245, 112, 89, .2);
}

.buttonConnect>div{
  height:auto;
  margin:0px;
}
.buttonConnect>div>div{
  z-index:900000000;
}